In [6]:
import pandas as pd
import re
from os import getcwd

"""
ici on peut ajouter: 
- un code pour connecter le lien http du fichier des stations et l'enregister dans l'arborescence
- ou bien faire une requete directe sur le fichier à partir du lien http et le passer directement au traitement
- connecter à une base de données elephantSQL
"""

current_rep=getcwd()
file_path = current_rep +'/aviationweather.gov_docs_metar_stations.txt'
reg = "^(.*?)\s+(\d{2}-[A-Z]{3}-\d{2})"          # Définir l'expression régulière pour récupérer le nom des états
data_stations = []                               # Définir une liste vide pour stocker les données

with open(file_path, 'r') as file:               # Ouvrir le fichier et lire chaque ligne
    lines = file.readlines()
    skip_lines = 39

    for line in lines[skip_lines:]:              # Parcourir les lines
         
        if re.match(reg, line):
            state = line[0:19].strip()    
        else :
            if len(line.strip()) > 0 and not line.startswith("CD"):  # Vérifier si la ligne contient des données de station et Extraire les informations
                cd = line[0:2].strip()
                station = line[2:19].strip()
                icao = line[19:25].strip()
                iata = line[25:31].strip()
                synop = line[31:38].strip()
                lat = line[38:46].strip()
                lon = line[46:54].strip()
                elev = line[54:61].strip()
                m = line[61:64].strip()
                n = line[64:67].strip()
                v = line[67:70].strip()
                u = line[70:73].strip()
                a = line[73:76].strip()
                c = line[76:79].strip()
                priority = line[79:81].strip()
                country_code = line[81:].strip()

                data_stations.append({                               # Ajouter les données à la liste
                    'COUNTRY_CODE': country_code,
                    'STATE_CODE': cd,
                    'COUNTRY_NAME': state,
                    'STATION': station,
                    'ICAO': icao,
                    'IATA': iata,
                    'SYNOP': synop,
                    'LAT': lat,
                    'LON': lon,
                    'ELEV': elev,
                    'METAR': m, 
                    'NEXRAD': n,
                    'AVIATION-SPECIFIC FLAG': v,
                    'UPPER AIR': u,
                    'AUTO': a,
                    'OFFICE TYPE': c,
                    'PRIORITY': priority
                    })

df = pd.DataFrame(data_stations) 
df.to_csv(current_rep + "/metar_stations.csv", mode="w", encoding='utf-8')
df.head()

,COUNTRY_CODE,STATE_CODE,COUNTRY_NAME,STATION,ICAO,IATA,SYNOP,LAT,LON,ELEV,METAR,NEXRAD,AVIATION-SPECIFIC FLAG,UPPER AIR,AUTO,OFFICE TYPE,PRIORITY
0,US,AK,ALASKA,ADAK NAS,PADK,ADK,70454,51 53N,176 39W,3,X,,T,,,,7
1,US,AK,ALASKA,AKHIOK,PAKH,AKK,,56 56N,154 11W,15,X,,,,,,8
2,US,AK,ALASKA,AKUTAN,PAUT,KQA,,54 08N,165 36W,25,X,,,,,,7
3,US,AK,ALASKA,ALASKAN ARTCC,PZ74,,,60 09N,164 17W,1,,,A,,,,8
4,US,AK,ALASKA,ALASKAN ARTCC,PZ76,,,65 15N,134 39W,647,,,A,,,,8